* {
  margin: 0;
  padding: 0; }

#about #about-text .section-title, #houses #houses-text .section-title {
  color: black;
  font-size: 21px;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold; }

#about #about-text, #houses #houses-text, #footer h4 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

#nature, #sports, #contact {
  height: 100vh;
  width: auto; }

#navbar-container {
  background: linear-gradient(320deg, #cdcdcd 0%, black 37%);
  border-bottom: 1px solid white; }
  #navbar-container #navbar-icon {
    width: 35px;
    height: auto;
    background-color: white;
    border-radius: 20%;
    border: 3px solid #ced4da;
    margin-right: 5vh; }
  #navbar-container #navbar-button-border {
    border-color: #F5F5F5; }
  #navbar-container #anchor-navbar {
    color: white; }
    #navbar-container #anchor-navbar:hover {
      color: #DADD98;
      padding-left: 6%; }

@media screen and (min-width: 769px) {
  #navbar-container {
    height: 10vh; }
    #navbar-container #navbar-icon {
      margin-right: 2vw;
      margin-left: 1vw; }
    #navbar-container #anchor-navbar {
      margin-left: 5%; }
      #navbar-container #anchor-navbar:hover {
        border-bottom: 1px solid white;
        border-top: 1px solid white; } }

@media screen and (max-width: 769px) {
  #anchor-navbar:hover {
    border-left: 1px solid white; } }

#header-container {
  background-image: url("../images/background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 96vh;
  width: auto; }
  #header-container #header-sub-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 60vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 10%; }
    #header-container #header-sub-container #header-h1 {
      letter-spacing: 1vw;
      word-spacing: 1vw;
      font-size: 35px;
      padding-top: 1vh; }
    #header-container #header-sub-container #header-h2 {
      letter-spacing: 0.5vw;
      word-spacing: 0.3vw;
      font-size: 25px;
      padding: 4vh; }
    #header-container #header-sub-container #header-h3 {
      letter-spacing: 0.5vw;
      word-spacing: 0.2vw;
      font-size: 22px; }
  #header-container .fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 425px) {
  #header-sub-container {
    height: 50vh;
    padding-top: 10vh; } }

@media screen and (max-width: 769px) {
  #header-sub-container {
    height: 40vh;
    padding-top: 10vh; } }

#about {
  background-color: #F5F5F5;
  height: 100vh;
  width: auto; }
  #about #about-img {
    border-top: 10px solid #a4c3b2;
    border-left: 10px solid #a4c3b2;
    border-radius: 2%;
    margin-top: 25vh;
    margin-left: 4vw; }
  #about #about-text {
    background-color: #a4c3b2;
    width: 40vw;
    padding: 3vh;
    border-radius: 2%;
    margin-top: 25vh;
    margin-left: 5vw; }
    #about #about-text .section-title {
      padding-bottom: 3vh; }
    #about #about-text a {
      text-decoration: none;
      color: #014421;
      font-weight: bold; }
      #about #about-text a:hover {
        text-decoration: none;
        background-color: #317873;
        color: #b6b6b5;
        font-style: normal; }

@media screen and (max-width: 769px) {
  #about {
    height: 100vh; }
    #about #about-text {
      text-align: center;
      margin-top: 3vh;
      margin-left: 4vw;
      width: 90vw; }
      #about #about-text .section-title {
        text-align: center;
        margin-top: 1vh; }
    #about #about-img-contaner {
      width: 85vw;
      margin-left: 2vw; }
      #about #about-img-contaner #about-img {
        border-left: 0;
        margin-top: 10vh; } }

#houses {
  background-color: #b6b6b5;
  height: 100vh;
  width: auto;
  padding-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #houses #houses-text {
    background-color: #c5dedd;
    width: 40vw;
    padding: 6vh;
    border-radius: 2%;
    text-align: left; }
    #houses #houses-text .section-title {
      padding-bottom: 3vh; }
  #houses #houses-carousel {
    border-right: 10px solid #c5dedd;
    height: auto;
    width: 45vw;
    border-radius: 2%; }
    #houses #houses-carousel #carousel-indicators-bg {
      background-color: rgba(182, 182, 181, 0.8); }

@media screen and (max-width: 769px) {
  #houses {
    height: 100vh;
    padding-top: 0; }
    #houses #houses-text {
      text-align: center;
      margin-top: 5vh;
      margin-left: 4vh;
      width: 90vw;
      padding: 3vh 1vh 3vh 1vh; }
      #houses #houses-text .section-title {
        text-align: center;
        margin-top: 1vh; }
    #houses #houses-carousel {
      width: 80vw;
      margin: 2vh 0vw 0 8vw;
      border-right: 0;
      border-bottom: 10px solid #c5dedd; } }

@media screen and (max-width: 425px) {
  #houses {
    height: 85vh;
    padding-top: 0; }
    #houses #houses-text {
      margin-left: 4.5vw; }
    #houses #houses-carousel {
      margin-left: 6vw; } }

#nature {
  background-color: #F5F5F5; }

#sports {
  background-color: #008B8B; }

#contact {
  background-color: #006A4E; }

#footer {
  background: linear-gradient(320deg, #cdcdcd 0%, black 37%);
  border-top: 1px solid white; }
  #footer h4 {
    font-size: 15px;
    text-align: center;
    color: #F5F5F5;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    #footer h4 a {
      padding-left: 2vw; }
      #footer h4 a img {
        width: 25px;
        height: auto; }
        #footer h4 a img:hover {
          transform: scale(1.3);
          -webkit-transform: scale(1.3);
          -o-transform: scale(1.3);
          -moz-transform: scale(1.3); }

body {
  background-color: #F5F5F5; }
