* {
  margin: 0;
  padding: 0; }

#about .section-title {
  color: black;
  font-size: 21px;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold; }

#about-text {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

#nature, #sports, #contact {
  height: 100vh;
  width: auto; }

#navbar-container {
  background: linear-gradient(320deg, #317873 41%, black 88%); }

#navbar-icon {
  width: 35px;
  height: auto;
  background-color: white;
  border-radius: 20%;
  border: 1px solid #DADD98; }

#anchor-1-navbar, #anchor-2-navbar, #anchor-3-navbar, #anchor-4-navbar, #anchor-5-navbar {
  color: white; }
  #anchor-1-navbar:hover, #anchor-2-navbar:hover, #anchor-3-navbar:hover, #anchor-4-navbar:hover, #anchor-5-navbar:hover {
    border-left: 1px solid white;
    color: #DADD98;
    padding-left: 5%; }

@media screen and (min-width: 769px) {
  #navbar-container {
    height: 10vh; }
  #navbar-icon {
    margin-right: 5%; }
  #anchor-1-navbar, #anchor-2-navbar, #anchor-3-navbar, #anchor-4-navbar, #anchor-5-navbar {
    margin-left: 5%; }
    #anchor-1-navbar:hover, #anchor-2-navbar:hover, #anchor-3-navbar:hover, #anchor-4-navbar:hover, #anchor-5-navbar:hover {
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      border-left: 0; } }

#header-container {
  background-image: url("../images/background-header.png");
  background-repeat: no-repeat;
  height: 96vh;
  width: auto;
  background-position: center; }

#header-sub-container {
  text-align: center;
  background-color: rgba(49, 120, 115, 0.5);
  height: 60vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  padding-top: 10%; }

#header-h1 {
  letter-spacing: 1vw;
  word-spacing: 1vw;
  font-size: 35px;
  padding-top: 1vh; }

#header-h2 {
  letter-spacing: 0.5vw;
  word-spacing: 0.3vw;
  font-size: 25px;
  padding: 4vh; }

#header-h3 {
  letter-spacing: 0.5vw;
  word-spacing: 0.2vw;
  font-size: 22px; }

.fade-in {
  animation: fadeIn 5s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 769px) {
  #header-sub-container {
    height: 50vh;
    padding-top: 20%; } }

#about {
  background-color: #F5F5F5;
  height: 100vh;
  width: auto; }

#about .section-title {
  padding-bottom: 3vh; }

#about-img {
  border-top: 10px solid #dff7cb;
  border-left: 10px solid #dff7cb;
  border-radius: 2%;
  margin-top: 25vh;
  margin-left: 4vw; }

#about-text {
  background-color: #dff7cb;
  width: 40vw;
  padding: 3vh;
  border-radius: 2%;
  margin-top: 25vh;
  margin-left: 5vw; }

#about a {
  text-decoration: none;
  color: #317873;
  font-weight: bold; }

#about a:hover {
  text-decoration: none;
  background-color: #317873;
  color: white;
  font-style: normal; }

@media screen and (max-width: 769px) {
  #about {
    height: 85vh; }
  #about-img-contaner {
    width: 85vw;
    margin-left: 2vw; }
  #about-img {
    border-left: 0;
    margin-top: 3vh; }
  #about .section-title {
    text-align: center;
    margin-top: 1vh; }
  #about-text {
    text-align: center;
    margin-top: 3vh;
    margin-left: 4vw;
    width: 90vw; } }

#nature {
  background-color: #F5F5F5; }

#sports {
  background-color: #008B8B; }

#contact {
  background-color: #006A4E; }

#footer {
  background-color: #014421; }
