* {
  margin: 0;
  padding: 0; }

#about #about-text .section-title, #houses #houses-text .section-title, #nature #nature-text .section-title, #sports #sports-text .section-title, #contact #contact-text .section-title {
  color: black;
  font-size: 21px;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold; }

#about #about-text, #houses #houses-text, #nature #nature-text, #contact #contact-text, #footer h4 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

#navbar-container {
  background: linear-gradient(320deg, #cdcdcd 0%, black 37%);
  border-bottom: 1px solid white; }
  #navbar-container #navbar-icon {
    width: 35px;
    height: auto;
    background-color: white;
    border-radius: 20%;
    border: 3px solid #ced4da;
    margin-right: 5vh; }
  #navbar-container #navbar-button-border {
    border-color: #F5F5F5; }
  #navbar-container #anchor-navbar {
    color: white; }
    #navbar-container #anchor-navbar:hover {
      color: #DADD98;
      padding-left: 6%; }

@media screen and (min-width: 769px) {
  #navbar-container {
    height: 10vh; }
    #navbar-container #navbar-icon {
      margin-right: 2vw;
      margin-left: 1vw; }
    #navbar-container #anchor-navbar {
      margin-left: 5%; }
      #navbar-container #anchor-navbar:hover {
        border-bottom: 1px solid white;
        border-top: 1px solid white; } }

@media screen and (max-width: 769px) {
  #anchor-navbar:hover {
    border-left: 1px solid white; } }

#header-container {
  background-image: url("../images/background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 96vh;
  width: auto; }
  #header-container #header-sub-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 60vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 15%; }
    #header-container #header-sub-container #header-h1 {
      letter-spacing: 1vw;
      word-spacing: 1vw;
      font-size: 35px;
      padding-top: 1vh; }
    #header-container #header-sub-container #header-h2 {
      letter-spacing: 0.5vw;
      word-spacing: 0.3vw;
      font-size: 25px;
      padding: 4vh; }
    #header-container #header-sub-container #header-h3 {
      letter-spacing: 0.5vw;
      word-spacing: 0.2vw;
      font-size: 22px; }
  #header-container .fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 769px) {
  #header-h1 {
    margin-top: 33%; } }

#about {
  background-color: #F5F5F5;
  height: 100vh;
  width: auto; }
  #about #about-img {
    border-top: 10px solid #a4c3b2;
    border-left: 10px solid #a4c3b2;
    border-radius: 2%;
    margin-top: 25vh;
    margin-left: 4vw; }
  #about #about-text {
    background-color: #a4c3b2;
    width: 40vw;
    padding: 3vh;
    border-radius: 2%;
    margin-top: 25vh;
    margin-left: 5vw;
    -webkit-box-shadow: inset 4px 4px 15px 0px #5f5f5f, -50px 40px 0px 31px rgba(0, 0, 0, 0);
    box-shadow: inset 4px 4px 15px 0px #5f5f5f, -50px 40px 0px 31px rgba(0, 0, 0, 0); }
    #about #about-text .section-title {
      padding-bottom: 3vh; }
    #about #about-text a {
      text-decoration: none;
      color: #014421;
      font-weight: bold; }
      #about #about-text a:hover {
        text-decoration: none;
        background-color: #317873;
        color: #b6b6b5;
        font-style: normal; }

@media screen and (max-width: 769px) {
  #about {
    height: auto;
    margin-bottom: 2vh; }
    #about #about-text {
      text-align: center;
      margin-top: 3vh;
      margin-left: 3vw;
      width: 90vw; }
      #about #about-text .section-title {
        text-align: center;
        margin-top: 1vh; }
    #about #about-img-contaner {
      width: 85vw;
      margin-left: 2vw; }
      #about #about-img-contaner #about-img {
        border-left: 0;
        margin-top: 10vh; } }

#houses {
  background-color: #b6b6b5;
  height: 100vh;
  width: auto;
  padding-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  #houses #houses-text {
    background-color: #c5dedd;
    -webkit-box-shadow: inset 4px 4px 15px 0px #5f5f5f, -50px 40px 0px 31px rgba(0, 0, 0, 0);
    box-shadow: inset 4px 4px 15px 0px #5f5f5f, -50px 40px 0px 31px rgba(0, 0, 0, 0);
    width: 40vw;
    padding: 6vh;
    border-radius: 2%;
    text-align: left; }
    #houses #houses-text .section-title {
      padding-bottom: 3vh; }
  #houses #houses-carousel {
    border-right: 10px solid #c5dedd;
    height: auto;
    width: 45vw;
    border-radius: 2%; }
    #houses #houses-carousel #carousel-indicators-bg {
      background-color: rgba(182, 182, 181, 0.8); }

@media screen and (max-width: 769px) {
  #houses {
    height: auto;
    padding-top: 5vh;
    padding-bottom: 2vh; }
    #houses #houses-text {
      text-align: center;
      margin-top: 5vh;
      margin-left: 4vh;
      width: 90vw;
      padding: 3vh 1.5vh 3vh 1.5vh; }
      #houses #houses-text .section-title {
        text-align: center;
        margin-top: 1vh; }
    #houses #houses-carousel {
      width: 80vw;
      margin: 2vh 0vw 0 8vw;
      border-right: 0;
      border-bottom: 10px solid #c5dedd; } }

@media screen and (max-width: 425px) {
  #houses {
    height: auto;
    margin-bottom: 1vh; }
    #houses #houses-text {
      margin-left: 4vw; }
    #houses #houses-carousel {
      margin-left: 6vw; } }

#nature {
  background-image: url(../images/background-nature.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: auto; }
  #nature #nature-video {
    border-top: 10px solid #c5dedd;
    border-left: 10px solid #c5dedd;
    border-radius: 2%;
    margin-top: 25vh;
    margin-left: 5vw;
    width: 40vw;
    height: auto; }
  #nature #nature-text {
    background-color: #c5dedd;
    width: 40vw;
    padding: 11vh 3vw 3vh;
    border-radius: 2%;
    margin-top: 25vh;
    margin-left: 1vw;
    -webkit-box-shadow: inset 4px 4px 15px 0px #5f5f5f, -50px 40px 0px 31px rgba(0, 0, 0, 0);
    box-shadow: inset 4px 4px 15px 0px #5f5f5f, -50px 40px 0px 31px rgba(0, 0, 0, 0); }
    #nature #nature-text .section-title {
      padding-bottom: 3vh; }

@media screen and (max-width: 769px) {
  #nature {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 2vh; }
    #nature #nature-video {
      width: 90vw;
      border-left: 0;
      margin-left: 2.5vw;
      margin-top: 0; }
    #nature #nature-text {
      width: 90vw;
      height: auto;
      margin-top: 3vh;
      margin-left: 5vw;
      padding: 4.5%;
      text-align: center; }
      #nature #nature-text .section-title {
        padding-top: 1vh;
        padding-bottom: 1.5vh; } }

#sports {
  background-color: #F5F5F5;
  height: 100vh;
  width: auto;
  padding-top: 15vh;
  text-align: center; }
  #sports #sports-img {
    border-top: 10px solid #a4c3b2;
    border-left: 10px solid #a4c3b2;
    border-radius: 2%; }
  #sports #sports-text {
    background-color: #a4c3b2;
    width: 50vw;
    padding: 3vh;
    margin: 5vh 0 0 25vw;
    border-radius: 2%;
    -webkit-box-shadow: inset 4px 4px 15px 0px #5f5f5f, -50px 40px 0px 31px rgba(0, 0, 0, 0);
    box-shadow: inset 4px 4px 15px 0px #5f5f5f, -50px 40px 0px 31px rgba(0, 0, 0, 0); }
    #sports #sports-text .section-title {
      padding-bottom: 3vh; }

@media screen and (max-width: 769px) {
  #sports {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 2vh; }
    #sports #sports-img {
      width: 85vw;
      border-left: 0;
      margin-left: -5%; }
    #sports #sports-text {
      width: 90vw;
      height: auto;
      margin-left: 4vw;
      padding: 4.5%; }
      #sports #sports-text .section-title {
        padding-top: 1vh; } }

#contact {
  background-color: #F5F5F5;
  height: auto;
  width: auto;
  padding: 15vh 2vw 5vh 5vw; }
  #contact #contact-text {
    text-align: center;
    margin-bottom: 5vh; }
  #contact #subtitle-and-form-container {
    padding-left: 4vw; }
    #contact #subtitle-and-form-container .contact-sub-title {
      color: black;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: bolder; }
    #contact #subtitle-and-form-container form {
      display: flex;
      flex-direction: column;
      width: 35vw;
      background-color: #c5dedd;
      padding: 2%;
      border-radius: 2%; }
      #contact #subtitle-and-form-container form label {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding-top: 5%;
        padding-bottom: 3%; }
      #contact #subtitle-and-form-container form input, #contact #subtitle-and-form-container form #user-text {
        padding: 2%;
        border: 0;
        border-radius: 4%;
        font-family: 'Roboto', sans-serif;
        font-size: 13px; }
      #contact #subtitle-and-form-container form button {
        flex: auto;
        border: none;
        flex: 1;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 2% 0 2%;
        margin-top: 2vh; }
      #contact #subtitle-and-form-container form #submit-btn {
        background-color: #a4c3b2;
        border-radius: 0 0 0 8%; }
        #contact #subtitle-and-form-container form #submit-btn:hover {
          background-color: #014421;
          color: white; }
      #contact #subtitle-and-form-container form #reset-btn {
        background-color: #b6b6b5;
        border-radius: 0 0 8% 0; }
        #contact #subtitle-and-form-container form #reset-btn:hover {
          background-color: red;
          color: white; }
      #contact #subtitle-and-form-container form button:last-of-type {
        border-left: 2px solid white; }
      #contact #subtitle-and-form-container form #form-btn-container {
        display: flex;
        justify-content: space-around; }
  #contact #subtitle-and-map-container {
    padding-left: 4vw; }
    #contact #subtitle-and-map-container .contact-sub-title {
      color: black;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: bolder; }
    #contact #subtitle-and-map-container p {
      font-family: 'Roboto', sans-serif;
      color: black;
      font-size: 14px; }
    #contact #subtitle-and-map-container #contact-map {
      width: 35vw;
      height: auto;
      border: 10px solid #c5dedd;
      border-radius: 2%; }
      #contact #subtitle-and-map-container #contact-map:hover {
        opacity: 0.6;
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -moz-transform: scale(0.95); }

@media screen and (max-width: 769px) {
  #contact {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 2vh; }
    #contact #subtitle-and-form-container form {
      width: 85vw; }
    #contact #subtitle-and-map-container {
      margin-top: 6vh;
      margin-bottom: 6vh;
      width: 90%; }
      #contact #subtitle-and-map-container #contact-map {
        text-align: center;
        width: 90vw; } }

#footer {
  background: linear-gradient(320deg, #cdcdcd 0%, black 37%);
  border-top: 1px solid white;
  height: auto; }
  #footer h4 {
    font-size: 15px;
    text-align: center;
    color: #F5F5F5;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    #footer h4 a {
      padding-left: 2vw; }
      #footer h4 a img {
        width: 25px;
        height: auto; }
        #footer h4 a img:hover {
          transform: scale(1.3);
          -webkit-transform: scale(1.3);
          -o-transform: scale(1.3);
          -moz-transform: scale(1.3); }

body {
  background-color: #F5F5F5; }
