* {
    margin: 0;
    padding: 0;
}

@import "base/colors";
@import "base/text-style";
@import "base/slide-in-effect";
@import "base/shadow";


body {
  background-color: $color-11;
}

@import "components/navbar";
@import "components/header";
@import "components/about";
@import "components/houses";
@import "components/nature";
@import "components/sports";
@import "components/contact";
@import "components/footer";
@import "extensions/mQuery";




