* {
    margin: 0;
    padding: 0;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
  }
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }



@import "base/colors";
@import "base/text-style";
@import "components/navbar";
@import "components/header";
@import "components/about";
@import "components/houses";
@import "components/nature";
@import "components/sports";
@import "components/contact";
@import "components/footer";
@import "extensions/mQuery";

body {
    background-color: $color-11;
}


