#about {
    background-color: $color-11;
    height: 100vh;
    padding: 25vh 0 0 5vw;
}

#about .section-title {
    @extend %font-section-title;
    padding-bottom: 3vh;
}

#about-img {
    border-top: 10px solid $color-12;
    border-left: 10px solid $color-12;
    border-radius: 2%;
}

#about-text {
    background-color: $color-12;
    width: 40vw;
    padding: 3vh;
    border-radius: 2%;
    @extend %font-section-text;
}

#about a {
    text-decoration: none;
    color: $color-1;
    font-weight: bold;
}

#about a:hover {
    text-decoration: none;
    color: $color-9;
    font-style: normal;
}

@media screen and (max-width: 769px) {
    #about {
        padding: 5vh 0 110vh 0;
    }

    #about-img-contaner {
        width: 80vw;
        margin-left: 13vw;
    }

    #about-img {
        border-left: 0;
    }

    #about .section-title {
        text-align: center;  
        margin-top: 1vh;      
    }
    
    #about-text {
        text-align: center;
        margin-top: 5vh;
        margin-left: 4.3vh;
        width: 90vw;
        padding: 3vh 1vh 3vh 1vh;
    }
}