#about {
    background-color: $color-11;
    height: 100vh;
    width: auto;
    #about-img {
        border-radius: 2%;
        margin-top: 25vh;
        margin-left: 4vw;
        @extend %box-shadow;
    } 
    #about-text {
        background-color: $color-18;
        width: 40vw;
        padding: 3vh;
        border-radius: 2%;
        @extend %font-section-text;
        @extend %box-shadow;
        margin-top: 25vh;
        margin-left: 5vw;
        .section-title {
            @extend %font-section-title;
            padding-bottom: 3vh;
        }
        a {
            text-decoration: none;
            color: $color-7;
            font-weight: bold;
            &:hover {
                text-decoration: none;
                background-color: $color-1;
                color: $color-14;
                font-style: normal;
            }
        }
    }
}