#header-container {
    background-image: url('../images/background-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 96vh;
    width: auto;
    #header-sub-container {
        text-align: center;
        background-color: rgba($color: $color-10, $alpha: 0.6);
        height: 65vh;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: $color-9;
        padding-top: 15%;
        #header-h1 {
            letter-spacing: 1vw;
            word-spacing: 1vw;
            font-size: 35px;
            padding-top: 1vh;
        }
        #header-h2 {
            letter-spacing: 0.5vw;
            word-spacing: 0.3vw;
            font-size: 25px;
            padding: 4vh;
        }
        #header-h3 {
            letter-spacing: 0.5vw;
            word-spacing: 0.2vw;
            font-size: 22px;
        }
    }    
    .fade-in {
        animation: fadeIn 5s;
        -webkit-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
















