#houses {
    //background-color: $color-14;
    background-image: url(../images/background-houses.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: auto;
    padding-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    #houses-text {
        background-color: $color-12;
        -webkit-box-shadow: inset 4px 4px 15px 0px $color-17, -50px 40px 0px 31px rgba(0,0,0,0); 
        box-shadow: inset 4px 4px 15px 0px $color-17, -50px 40px 0px 31px rgba(0,0,0,0);
        width: 40vw;
        padding: 6vh;
        border-radius: 2%;
        @extend %font-section-text;
        text-align: left;
        .section-title {
            @extend %font-section-title;
            padding-bottom: 3vh;
        }
    }
    #houses-carousel {
        border-right: 10px solid $color-12;
        height: auto;
        width: 45vw;
        border-radius: 2%;
        #carousel-indicators-bg {
            background-color: rgba($color: $color-14, $alpha: 0.8);
        }
    }
}