#nature {
    background-image: url(../images/background-nature.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: auto;
    #nature-video {
        border-top: 10px solid $color-12;
        border-left: 10px solid $color-12;
        border-radius: 2%;
        margin-top: 25vh;
        margin-left: 5vw;
        width: 40vw;
        height: auto;
        } 
    #nature-text {
        background-color: $color-12;
        width: 40vw;
        padding: 11vh 3vw 3vh;
        border-radius: 2%;
        @extend %font-section-text;
        margin-top: 25vh;
        margin-left: 1vw;
        -webkit-box-shadow: inset 4px 4px 15px 0px $color-17, -50px 40px 0px 31px rgba(0,0,0,0); 
        box-shadow: inset 4px 4px 15px 0px $color-17, -50px 40px 0px 31px rgba(0,0,0,0);
        .section-title {
            @extend %font-section-title;
            padding-bottom: 3vh;
        }
    }
}

@media screen and (max-width: 769px) {
    #nature {
        height: auto;
        padding-top: 10vh;
        padding-bottom: 2vh;         
        #nature-video {
            width: 90vw;
            border-left: 0;
            margin-left: 2.5vw;
            margin-top: 0;
        }
        #nature-text {
            width: 90vw;
            height: auto;
            margin-top: 3vh;
            margin-left: 5vw;
            padding: 4.5%;
            text-align: center;
            .section-title {
                padding-top: 1vh;
                padding-bottom: 1.5vh;
            }
        }
    }
}