#sports {
    background-color: $color-11;
    height: 100vh;
    width: auto;
    padding-top: 15vh;
    margin-bottom: 10vh;
    text-align: center;
    #sports-img {
        border-radius: 2%;
        @extend %box-shadow;
    }
    #sports-text {
        background-color: $color-18;
        width: 50vw;
        padding: 3vh;
        margin: 5vh 0 0 25vw;
        border-radius: 2%;
        @extend %box-shadow;
        .section-title {
            @extend %font-section-title;
            padding-bottom: 3vh;
        }
    }
}