$color-1: #317873;
$color-2: #90EE90;
$color-3: #66CDAA;
$color-4: #00FA9A;
$color-5: #008B8B;
$color-6: #006A4E;
$color-7: #014421;
$color-8: #DADD98;
$color-9: white;
$color-10: black;
$color-11: #F5F5F5;
$color-12: #c5dedd;
$color-13: #ced4da;
$color-14: #b6b6b5;
$color-15: #a4c3b2;


