%box-shadow {
    box-shadow: 
    0 2.8px 2.2px rgba($color: $color-10, $alpha: 0.034),
    0 6.7px 5.3px rgba($color: $color-10, $alpha: 0.048),
    0 12.5px 10px rgba($color: $color-10, $alpha: 0.06),
    0 22.3px 17.9px rgba($color: $color-10, $alpha: 0.072),
    0 41.8px 33.4px rgba($color: $color-10, $alpha: 0.086),
    0 100px 80px rgba($color: $color-10, $alpha: 0.12);
    -webkit-box-shadow: 
    0 2.8px 2.2px rgba($color: $color-10, $alpha: 0.034),
    0 6.7px 5.3px rgba($color: $color-10, $alpha: 0.048),
    0 12.5px 10px rgba($color: $color-10, $alpha: 0.06),
    0 22.3px 17.9px rgba($color: $color-10, $alpha: 0.072),
    0 41.8px 33.4px rgba($color: $color-10, $alpha: 0.086),
    0 100px 80px rgba($color: $color-10, $alpha: 0.12);
    -moz-box-shadow: 
    0 2.8px 2.2px rgba($color: $color-10, $alpha: 0.034),
    0 6.7px 5.3px rgba($color: $color-10, $alpha: 0.048),
    0 12.5px 10px rgba($color: $color-10, $alpha: 0.06),
    0 22.3px 17.9px rgba($color: $color-10, $alpha: 0.072),
    0 41.8px 33.4px rgba($color: $color-10, $alpha: 0.086),
    0 100px 80px rgba($color: $color-10, $alpha: 0.12);
    -o-box-shadow: 
    0 2.8px 2.2px rgba($color: $color-10, $alpha: 0.034),
    0 6.7px 5.3px rgba($color: $color-10, $alpha: 0.048),
    0 12.5px 10px rgba($color: $color-10, $alpha: 0.06),
    0 22.3px 17.9px rgba($color: $color-10, $alpha: 0.072),
    0 41.8px 33.4px rgba($color: $color-10, $alpha: 0.086),
    0 100px 80px rgba($color: $color-10, $alpha: 0.12);
}

