%font-section-title {
    color: $color-10;
    font-size: 21px;
    font-family: 'Petit Formal Script', cursive;
    font-weight: bold;
}

%font-section-text {
    color: $color-10;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
